body {
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #507dc7; /* use this color for other backgrounds */
  color: #000;
}

.container {
  width: 330px;
  height: 100%;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 8px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0 8px 0;
  display: block;
}

table {
  background-color: white;
}

img {
  width: 120px;
  border-radius: 8px;
}

iframe {
  margin: 20px 0;
  border-radius: 10px;
}

.sidebar {
  width: 250px;
  background: #345385;
  color: white;
  height: 100%;
}

.main {
  flex: 1;
  padding: 20px;
}
